<!DOCTYPE html>
<html>
<head>
  <title>Members</title>
  <link rel="stylesheet" type="text/css" href="/assets/global.css" />
</head>
<body>
  <%- include('partials/menu.ejs') %>
  <h1>Members</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <% members.forEach(function(member) { %>
        <tr>
          <td><%= member.name %></td>
          <td><%= member.phone %></td>
          <td><%= member.email %></td>
          <td><%= member.address %></td>
          <td><%= member.is_active ? 'Yes' : 'No' %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>